:root{
    --web-wash-color: #18191A;
    --secondary:  #3a3b3c;
    --text-color :	#e4e6eb;
    --link-color: #2768d2;
    --link-color-hover: #7294c5
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style:none;
}
a{
    color: var(--link-color);
    cursor: pointer;
    transition: color 1s;
    text-decoration: none;
}

a:hover {
    color: orange !important;
}
body{
    background: var(--web-wash-color);
    color: var(--text-color);
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: max-content;
    align-items: center;
}

header nav {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-content: center;
    flex-basis: 50%;
}
header nav ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}
header nav ul li {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
a.go_home{
    margin: 1rem auto;
    display: block;
    width: max-content;
}
section.list_articles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto 2rem;


}
article a{
    color: var(--text-color);
}
article:hover a {
    color: orange !important;
}
section.list_articles article{
    flex: 40%;
    padding: 6px;
    margin: 5px;
    background: var(--secondary);
    border-radius: 12px;
    transition: 1s;
  height: max-content;
}
span.see_more {
     color: var(--link-color) !important;
}
span.see_more:hover{
    color: var(--link-color-hover) !important;
}
section.block-scroll {
        overflow-y: scroll;
    height: 90vh;
}
article.post {
    background: var(--secondary);
    border-radius: 12px;
    margin: 0 15%;
    padding: 1%;
}

section.list_articles article:hover{
    background: var(--secondary);
    color: var(--link-color-hover);

}

section.list_articles  div.title_and_date {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}