{% extends "blog/base.html" %}
{% block connexion %}
    <main class="connexion">
        <section class="form_section">
            <div class="error_message">
                {% if form.errors %}
                    <p>Your username and password didn't match. Please try again.</p>
                {% endif %}
            </div>

            <div class="form_suceed">
                {% if next %}
                    {% if user.is_authenticated %}
                        <p>Your account doesn't have access to this page. To proceed,
                            please login with an account that has access.</p>
                    {% else %}
                        <p>Please login to have access to admin panel.</p>
                    {% endif %}
                {% endif %}
            </div>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                    <div class="form_inputs">
                        <div>{{ form.username.label_tag }}</div>
                        <div>{{ form.username }}</div>

                        <div>{{ form.password.label_tag }}</div>
                        <div>{{ form.password }}</div>
                        <input type="submit" value="login"/>
                        <input type="hidden" name="next" value="{{ next }}"/>
                    </div>

            </form>
            {# Assumes you setup the password_reset view in your URLconf #}
            <p><a href="{% url 'password_reset' %}">Lost password?</a></p></section>
    </main>
{% endblock %}