{% load static %}
    <head>
        <title>Timogo's blog</title>
        <link rel="stylesheet" href="{% static 'blog/style.css' %} ">
    </head>


<body>
        <header>
            <h1><a class="go_home" href="/">Blog timogo</a></h1>
            <nav>
                <ul>
                    <li><a>header link</a></li>
                    <li><a>header link</a></li>
                    <li><a>header link</a></li>
                </ul>
            </nav>
        </header>
<main class="posts_list">
            {% block content %}{% endblock %}
</main>
</body>