{% extends 'blog/base.html' %}
    {% block content %}
<main class="posts_list">
<section class="list_articles">
    {% for post in posts %}

    <article>
    <a href="{% url 'post_detail' pk=post.pk %}">
        <div class="title_and_date">
            <h2>{{ post.title }}</h2>
            <time> {{ post.published_date }}</time>
        </div>
        {% if post.text|length > 200 %}
        <p>{{ post.text|slice:":200"|linebreaksbr }}...</p><span class="see_more"> Lire la suite</span>
            {% else %}
           <p> {{ post.text }} </p><span class="see_more"> Lire sur la page de l'article</span>
        {% endif %}
    </a>

    </article>
{% endfor %}
{#{% else %}#}
{#    <h2>ERROR, there is no posts before now</h2>#}
{#{% endif %}#}
</section>
        </main>
{% endblock %}