{% extends 'blog/base.html' %}
    {% block content %}
<main class="posts_list">

<section class="list_articles">
{##}
{#{% if listing.is_past_due %}#}
    {% for post in posts %}

    <article>
    <a href="{% url 'post_detail' pk=post.pk %}">
        <div class="title_and_date">
            <h2>{{ post.title }}</h2>
            <time> {{ post.published_date }}</time>
        </div>
        <p>{{ post.text|linebreaksbr }}</p>
    </a>

    </article>
{% endfor %}
{#{% else %}#}
{#    <h2>ERROR, there is no posts before now</h2>#}
{#{% endif %}#}
</section>
</main>
{% endblock %}