{% extends 'blog/base.html' %}
{% block go_to_administration %}
    <main class="posts_list crud">

<h2>Bienvenue sur l'espace d'administration </h2>
   <section class="list_articles">
    {% for post in posts %}
    <article>
    <a href="{% url 'post_detail' pk=post.pk %}">
        <div class="title_and_date">
            <h2>{{ post.title }}</h2>
            <time> {{ post.published_date }}</time>
            <div>
                <a href="{% url 'post_detail' pk=post.id %}">
                   <i class="far fa-eye"></i>
                </a>
                <a>
                   <i class="fas fa-trash"></i>
                </a>
                 <a href="{% url 'update_post' pk=post.id %}">
                   <i class="fas fa-pencil-alt"></i>
                </a>
            </div>
        </div>

    </a>
    </article>
{% endfor %}
<a class="create_post" href="{% url 'create_post' %}"> Poster un article</a>

</section>
    </main>
{% endblock %}