{% extends 'blog/base.html' %}
{% block go_to_administration %}
    <main class="posts_list crud">

<h2>Bienvenue sur l'espace d'administration </h2>
   <section class="list_articles">
<a class="create_post" href="{% url 'create_post' %}"> Poster</a>
    {% for post in posts %}

    <article>
    <a href="{% url 'post_detail' pk=post.pk %}">
        <div class="title_and_date">
            <h2>{{ post.title }}</h2>
            <time> {{ post.published_date }}</time>
            <div>
                <a>
                   <i class="far fa-eye"></i>
                </a>
                <a>
                   <i class="fas fa-trash"></i>
                </a>
                 <a>
                   <i class="fas fa-pencil-alt"></i>
                </a>
            </div>
        </div>

    </a>

    </article>
{% endfor %}
{#{% else %}#}
{#    <h2>ERROR, there is no posts before now</h2>#}
{#{% endif %}#}
</section>
    </main>
{% endblock %}