{% extends 'blog/base.html' %}
{% block go_to_administration %}
<h2>Bienvenue sur l'espace d'administration </h2>
    <table>
    <thead>
    <tr>
        <td>Titre</td>
        <td>Date</td>
        <td>actions</td>
    </tr>
    </thead>
    <tbody>
        {% for post in posts %}
    <tr>
        <td>
          <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
        </td>
        <td> {{ post.published_date }}</td>
        <td>A</td>
    </tr>


{% endfor %}
    </tbody>
    </table>
{% endblock %}